build.xml~
.DS_Store
.classpath
.project
.settings
.externalToolBuilders
.metadata
*.class
build.properties
context.xml
CVS
dist
build
*.idea
bin
*.log
*.out
*.war
*.sublime*
*~
target
*.eml
*.iml
*.idea
rebel.xml
